<!-- Conteúdo de assets/components/footer.html -->
<footer class="main-footer">
    <div class="footer-content">
        <div id="sobre-o-guia" class="footer-section about">
            <h3>Sobre este Guia</h3>
            <p>
                Um projeto de código aberto para ajudar a comunidade a se preparar para a certificação AWS SAA-C03. 
                Sinta-se à vontade para contribuir!
            </p>
        </div>
        <div class="footer-section social-links">
            <h3>Conecte-se</h3>
            <!-- Substitua '#' pelos seus links reais -->
            <a href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a href="https://github.com/ralexandrecode/Guia-Estudos-AWS-SAA-C03" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
        <div class="footer-section cta">
            <h3>Gostou do Projeto?</h3>
            <!-- Exemplo de chamada para ação -->
            <a href="#" class="cta-button" target="_blank" rel="noopener noreferrer">Me pague um café! ☕</a>
        </div>
    </div>
    <div class="footer-bottom">
        © 2025 | Guia de Estudos AWS SAA-C03 | Criado por Ricardo Alexandre ☕
    </div>
</footer>
