/* --- Estilos para o Menu Principal --- */
#menu-placeholder {
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px 0;
    margin-bottom: 25px;
}

.main-menu {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.main-menu a:hover {
    background-color: rgba(255, 153, 0, 0.2); /* Laranja secundário com transparência */
}
